<!DOCTYPE html>
<html lang="en">

<%- include('includes/head.ejs') %>

</head>

<body>

	<div id="wrapper">

		<%- include('includes/navigation.ejs') %>

        <%- include('includes/sidebar.ejs') %>
        
        <div id="page-wrapper">
            <% if(errorMessage){ %>
                <div class="user-message user-message--error"> <%= errorMessage %> </div>
            <% } %> 
            <h2>Enter Company Details</h2>
                <form class="login-form" action="/viewEligibleStudents" method="GET">
                    <label>Company</label>
                    <input name="name" id="name">
                    <label style="padding-left: 1rem;">Batch</label>
                    <input name="batch" id="batch">
                    <div>
                        <button class="btn-primary" type="submit">Find</button>
                    </div>
                </form>
                
                <hr>
                <hr>
                <!-- /.col-lg-12 -->
          
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Students Details Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            <% if (students.length > 0) { %>
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>Batch</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Deparment</th>
                                            <th>BE Score</th>
                                            <th>SSC Score</th>
                                            <th>HSC Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let student of students) { %>
                                            <tr class="odd gradeX">
                                                <td><%= company %></td>
                                                <td><%= batch %></td>
                                                <td><%= student.studentId.name %></td>
                                                <td><%= student.studentId.email %></td>
                                                <td><%= student.studentId.department %></td>
                                                <td><%= student.studentId.be %></td>
                                                <td><%= student.studentId.ssc %></td>
                                                <td><%= student.studentId.hsc %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>

                            <% } else { %>
                                <h1>No Students Found!</h1>
                            <% } %>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>

    <%- include('includes/scripts.ejs') %>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>    

</body>

</html>
